<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit profile</title>
    <style>
        input{
         height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}
    </style>
</head>
<body>
  
  <center>  <h1> Change your profile here!</h1> </center>
   <center> 
       <form action="." method="post">
           {% csrf_token %}
           {{form.as_p}}
           <button type="submit">update profile</button>
       </form>
   </center>
</body>
</html>