
{% extends 'blog/base.html' %}

{% block body %}
<!--
<ul>
    {% for post in posts %}
    <li>
        {{post.author}} -- {{post.date}} <hr>
        {{post.title}} <br>
        {{post.description}}
        <br><br><br>
    </li>
    {% endfor %}
</ul>

-->


        <div class="container my-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>{{work}}</h4>



                </li>

                {% for name in names %}
                    {% if request.user.is_authenticated %}
                        <li class="list-group-item list-group-item-success mt-2"><h5><a href="{% url 'userProfile' name %}">{{ name }}</a></h5>
                        </li>
                    {% else %}
                        <li class="list-group-item list-group-item-success mt-2"><h5><a href="{% url 'userProfileAnony' name %}">{{ name }}</a></h5>
                        </li>

                    {% endif %}


                {% endfor %}
            </ul>
        </div>

{% endblock body %}