<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Blog</title>
  </head>
  <body>
 <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'homeAll' %}">
      <h2>WEBSITE</h2>
  </a>

     <button type="button" class="btn btn-light " data-toggle="modal" data-target="#LoginModal">
        Login
    </button>

</nav>

   <div class="container my-4">
        <h3 style="font-style: Abril Fatface; color:black; font-weight:bolder;font-variant: small-caps;">Create your account</h3>
        <form method="Post" action="signup/">
            {% csrf_token %}
            <!-- FOR AND ID MUST BE SAME -->
          <div class="form-group my-4" >
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
          </div>

          <div class="form-group my-4">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Your name here..." name="name">
          </div>

          <div class="form-group my-4">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Your username here..." name="username">
          </div>

          <div class="form-group my-4">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Create your Password here..." name="password">
          </div>

          <div class="form-group my-4">
            <label for="confpass">Confirm Password</label>
            <input type="password" class="form-control" id="confpass" placeholder="Confirm your Password here..." name="confpass">
          </div>
          
          <button type="submit" class="btn btn-primary">Signup</button>
        </form>


    </div>

<!-- Modal Login -->
<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LoginModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="Post" action="login/">
          {% csrf_token %}
          <div class="form-group">
            <label for="username1">Username</label>
            <input type="text" class="form-control" id="username1" aria-describedby="emailHelp" placeholder="Enter your username" required name="username">

          </div>
          <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" placeholder="Enter your password" name="password" required>
          </div>

          <button type="submit" class="btn btn-primary">Login</button>
        </form>

      </div>
      {% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}

    </div>
  </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
